body{font-family: "Arial"}
a{text-decoration: none;}

.product-container{
  margin-bottom: 15px;
}

.product-container a {
  display: block;
  position: relative;
  border:1px solid #aaa;
}

.product-container img{width:100%; height:auto;}

.col1{float:left;}
.col2{margin:10px auto;}
.col3{float:right;}

.title{font-size:20px;}
.description{padding:10px;}