
/* General */

body {
  font-family: "Arial";
  background-image: url("img/brillant.png");
}

a,
a:link,
a:visited {
  border: 1px solid #EDEDED;
  color: #0096FF;
  text-decoration: none;
}

/* Page title & subtitle */

.page-title {
  margin: 20px 0;
  height: 36px;
}

.page-subtitle { 
  margin-bottom: 25px;
  font-style: italic;
  height: 18px
}

/* Product items */
.product-container {
  margin-bottom: 15px;
}

.product-container a {
  display: block;
  position: relative;
  border: 1px solid #EDEDED;
}

.product-container img {
  width: 100%; 
  height: auto;
}

.product-container .description {
  padding: 16px 0 20px 0;
  background: #F6F6F6
}

.product-container .title, .tagline {
  height: 16px;
  font-size: 16px
}

.product-container .title {
  padding-bottom: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.product-container .tagline {
  font-style: italic;
  padding-bottom: 12px;
}

/* Product Overlay Description */

.overlay {
  position: absolute;
  z-index: 3;
  padding: 10px;
  height: 100%;
  overflow: hidden;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 1px;
  color: #F8F8F8;
  background: #2D2D2D;
  opacity: 0;
  transition: opacity .50s ease;
   -moz-transition: opacity .50s ease;
   -webkit-transition: opacity .50s ease;
}

.overlay:hover {
  opacity: 0.9;
}